RewriteEngine On

# 處理 /api/data 請求
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^data$ data.php [L,QSA]

# 處理 /api/wordpress-menu 請求
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^wordpress-menu$ wordpress-menu.php [L,QSA]

# 處理 /api/popup 請求
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^popup$ popup.php [L,QSA]
